/* Art Deco web color scheme
 * http://www.creativecolorschemes.com/resources/free-color-schemes/art-deco-color-scheme.shtml
 * low-blue:  #3f647e    blue:       #688fad    high-blue: #9fc1d3
 * high-grey: #c9c9c9    high-green: #95d47a
 * low-cyan:  #00b0b2    high-cyan:  #52ccce
 */
@font-face {
  font-family: FontAwesome;
  src: url("/fonts/fontawesome-webfont.ttf");
}
* {margin: 0; padding: 0;}
a {
  color: #3f647e;
  outline: none;
}
a:hover {color: #00b0b2;}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  font: 16px/1.4 Georgia, serif;
  color: #333;
}
#outer-wrapper {
  position: relative;
  width: 100%;
  min-width: 800px;
  min-height: 100%;
  overflow: hidden;
}

#crosscol-wrapper, #header-wrapper, #main {
  position: relative;
  clear: both;
}
#crosscol-wrapper, a.button {
  background-color: #3f647e;
  box-shadow: 0 1px 3px rgba(0,0,0,.4), inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 1px rgba(255,255,255,.1);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.4), inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 1px rgba(255,255,255,.1);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4), inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 1px rgba(255,255,255,.1);
  -o-box-shadow: 0 1px 3px rgba(0,0,0,.4), inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 1px rgba(255,255,255,.1);
  z-index: 10;
}
#crosscol-wrapper {
  float: left;
  width: 100%;
}
#header-wrapper {
  width: 100%;
  background-color: #9fc1d3;
  padding: .7em 0 .8em 2.5em;
}
#main {
  width: 35em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
}
#footer-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2em;
  line-height: 2em;
  background-color: #3f647e;
}

#crosscol-wrapper ul.PageList {padding-left: .9em}
#crosscol-wrapper ul.PageList li {
  float: left;
  line-height: 0;
  list-style: none;
}
#crosscol-wrapper a, a.button {
  display: inline-block;
  height: 32px;
  line-height: 31px;
  padding: 0 1.5em;
  color: #95d47a;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  text-decoration: none;
}
#crosscol-wrapper a:hover, a.button:hover {color: #52ccce;}

#header-wrapper a.title {
  color: #3f647e;
  font-family: "Lucida Grande", "Trebuchet MS", Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
}
#header-wrapper p.description {
  color: #688fad;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: default;
}

#footer-wrapper #footer {
  color: #688fad;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-align: center;
}

a.button {
  float: right;
  padding: 0 8px;
  border-radius: 3px;         /* CSS3 */
  -moz-border-radius: 3px;    /* Firefox */
  -webkit-border-radius: 3px; /* Safari, Chrome */
}

[class^="icon-"]:before, [class^="icon-"]:after {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  color: #688fad;
  font-family: FontAwesome;
  font-size: 19px;
  text-shadow: 0 -1px rgba(0,0,0,.4);
}
[class^="icon-"]:before {
  margin-right: 8px;
  text-align: right;
}
[class^="icon-"]:after {
  margin-left: 8px;
  text-align: left;
}
/* Fix the improper size of the icon-home in FA 3.0 */
.icon-home:before {
  content: "\f015";
  font-size: 20px;
  margin: 0 6px 2px 1px;
}
.icon-archive:before {content: "\f01c";}
.icon-about:before {content: "\f05a";}
.icon-rss:before {content: "\f09e";}
.icon-hand-right:after {content: "\f0a4";}

#flattr {
  position: absolute;
  margin-top: 2em;
  left: 2em;
}
