/* Art Deco web color scheme
 * http://www.creativecolorschemes.com/resources/free-color-schemes/art-deco-color-scheme.shtml
 * low-blue:  #3f647e    blue:       #688fad    high-blue: #9fc1d3
 * high-grey: #c9c9c9    high-green: #95d47a
 */

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Caption:700&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
@font-face {
  font-family: FontAwesome;
  src: url("/fonts/Font-Awesome/fontawesome-webfont.woff") format("woff");
}

/* Fix "page shift" problem that happens on loading pages of different lengths */
html {overflow-y: scroll;}

* {margin: 0; padding: 0;}
a {
  color: #3f647e;
  outline: none;
}
body {
  position: absolute;
  width: 100%;
  height: 100%;
  font: 16px/1.4 "PT Sans", "Lucida Grande", "Trebuchet MS", sans-serif;
  color: #222;
  background-color: #f8f8f8;
  background-image: url("/images/noise.png");
}
#outer-wrapper {
  position: relative;
  width: 100%;
  min-width: 800px;
  min-height: 100%;
  overflow: hidden;
}

#crosscol-wrapper, .button {
  height: 2em;
  line-height: 2em;
  background-color: #3f647e;
}
#crosscol-wrapper {
  float: left;
  width: 100%;
  padding-left: 1em;

  box-shadow: 0 1px 3px rgba(0,0,0,.5), inset 0 -2px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.5), inset 0 -2px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.5), inset 0 -2px rgba(0,0,0,.1);
  -o-box-shadow: 0 1px 3px rgba(0,0,0,.5), inset 0 -2px rgba(0,0,0,.1);
}
#header-wrapper {
  clear: both;
  width: 100%;
  background-color: #9fc1d3;
  padding: .7em 0 .8em 2.5em;
}
#main {
  width: 35em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
}
#footer-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2em;
  line-height: 2em;
  background-color: #3f647e;
}

#crosscol-wrapper a, .button a {
  display: inline-block;
  color: #9fc1d3;
  font-family: "PT Sans Narrow", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#crosscol-wrapper a {
  float: left;
  padding: 0 1.5em;
}
#crosscol-wrapper a:hover, .button a:hover {
  color: #c9c9c9;
}

#header-wrapper a.title {
  color: #3f647e;
  font-family: "PT Sans Caption", "Lucida Grande", "Trebuchet MS", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(0,0,0,.4);
}
#header-wrapper p.description {
  color: #688fad;
  font-family: "PT Sans", "Helvetica Neue", Helvetica, sans-serif;
  cursor: default;
}

#footer-wrapper #footer {
  color: #688fad;
  font-family: "PT Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
}
#footer-wrapper #footer a {
  color: #688fad;
}

.button {
  display: inline-block;
  padding: 0 8px;

  box-shadow: 0 1px 3px rgba(0,0,0,.6), inset 0 -2px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.6), inset 0 -2px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.6), inset 0 -2px rgba(0,0,0,.1);
  -o-box-shadow: 0 1px 3px rgba(0,0,0,.6), inset 0 -2px rgba(0,0,0,.1);

  border-radius: 6px;         /* CSS3 */
  -moz-border-radius: 6px;    /* Firefox */
  -webkit-border-radius: 6px; /* Safari, Chrome */
}

[class^="icon-"]:before, [class^="icon-"]:after {
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
  color: #95d47a;
  font-family: FontAwesome;
  font-size: 19px;
  font-weight: normal;
}
[class^="icon-"]:before {
  margin-right: 8px;
}
[class^="icon-"]:after {
  margin-left: 8px;
}

/* Fix the improper size of the icon-home in FA 3.0 */
.icon-home:before {
  content: "\f015";
  font-size: 20px;
  margin: -1px 6px 1px 1px;
}
.icon-archive:before {
  content: "\f01c";
}
.icon-about:before {
  content: "\f05a";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-circle-arrow-right:before {
  content: "\f0a9";
}

#flattr {
  position: absolute;
  margin-top: 2em;
  left: 2em;
}
