/* Art Deco web color scheme
   http://www.creativecolorschemes.com/resources/free-color-schemes/art-deco-color-scheme.shtml
   dark-blue: #3f647e    blue: #688fad    light-blue: #9fc1d3
   */
* {margin: 0; padding: 0;}
a {
    color: #3f647e;
    outline: none;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    font: 16px/1.4 Georgia, serif;
    color: #333;
}
#outer-wrapper {
    position: relative;
    width: 100%;
    min-width: 800px;
    min-height: 100%;
    overflow: hidden;
}

#crosscol-wrapper, #header-wrapper, #main {
    position: relative;
    clear: both;
}
#crosscol-wrapper {
    display: table;
    width: 100%;
    background-color: #688fad;
}
#header-wrapper {
    width: 100%;
    background-color: #9fc1d3;
    padding: .7em 0 .8em 2.5em;
}
#main {
    width: 35em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2em;
}
#footer-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #688fad;
}

#crosscol-wrapper ul.PageList {
    display: table-cell;
    vertical-align: middle;
    height: 2em;
    padding-left: 1.5em;
}
#crosscol-wrapper ul.PageList li {
    display: inline-block;
    float: left;
    margin: 0 1em;
}
#crosscol-wrapper ul.PageList li a {
    display: block;
    color: #3f647e;
    font-family: "Trebuchet MS", "Lucida Grande", Arial, sans-serif;
    line-height: 1em;
    text-decoration: none;
}
#crosscol-wrapper ul.PageList li a:hover {color: #9fc1d3;}

#header-wrapper a.title {
    color: #3f647e;
    font-family: "Trebuchet MS", "Lucida Grande", Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none !important;
}
#header-wrapper p.description {
    color: #688fad;
    font-family: "Trebuchet MS", "Lucida Grande", Arial, sans-serif;
}

#footer-wrapper #footer {
    color: #3f647e;
    font-family: "Trebuchet MS", "Lucida Grande", Arial, sans-serif;
    line-height: 2em;
    text-align: center;
}

#flattr {
    position: absolute;
    margin-top: 2em;
    left: 2em;
}
