/* Art Deco web color scheme
 * http://www.creativecolorschemes.com/resources/free-color-schemes/art-deco-color-scheme.shtml
 * low-blue:  #3f647e    blue:       #688fad    high-blue: #9fc1d3
 * high-grey: #c9c9c9    high-green: #95d47a
 * low-cyan:  #00b0b2    high-cyan:  #52ccce
 */

@import url(http://fonts.googleapis.com/css?family=Marmelad&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
@font-face {
  font-family: "Octicons Regular";
  src: url("/fonts/Octicons/octicons-regular-webfont.woff") format("woff");
}

/* Fix "page shift" problem that happens on loading pages of different lengths */
html {overflow-y: scroll;}

* {margin: 0; padding: 0;}
a {
  color: #3f647e;
  outline: none;
}
a:hover {color: #00b0b2;}
body {
  position: absolute;
  width: 100%;
  height: 100%;
  font: 16px/1.4 Georgia, serif;
  color: #333;
}
#outer-wrapper {
  position: relative;
  width: 100%;
  min-width: 800px;
  min-height: 100%;
  overflow: hidden;
  background-image: url(/images/noise.png);
}

#crosscol-wrapper, .button {
  height: 2em;
  line-height: 2em;
  background-color: #3f647e;
  background-image: linear-gradient(bottom, rgba(0,0,0,.1) 0%, rgba(0,0,0,0) 33%,
    rgba(255,255,255,0) 33%, rgba(255,255,255,.25) 100%), url(/images/noise.png);
  background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.1) 0%, rgba(0,0,0,0) 33%,
    rgba(255,255,255,0) 33%, rgba(255,255,255,.25) 100%), url(/images/noise.png);
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.1) 0%, rgba(0,0,0,0) 33%,
    rgba(255,255,255,0) 33%, rgba(255,255,255,.25) 100%), url(/images/noise.png);
  background-image: -o-linear-gradient(bottom, rgba(0,0,0,.1) 0%, rgba(0,0,0,0) 33%,
    rgba(255,255,255,0) 33%, rgba(255,255,255,.25) 100%), url(/images/noise.png);
}
#crosscol-wrapper {
  float: left;
  width: 100%;
  padding-left: 1.4em;

  box-shadow: 0 1px 3px rgba(0,0,0,.5);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.5);
  -o-box-shadow: 0 1px 3px rgba(0,0,0,.5);
}
#header-wrapper {
  clear: both;
  width: 100%;
  padding: .7em 0 .8em 2.8em;
  background-color: #9fc1d3;
  background-image: url(/images/noise.png);
}
#main {
  width: 35em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
}
#footer-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2em;
  line-height: 2em;
  background-color: #3f647e;
  background-image: url(/images/noise.png);
}

#crosscol-wrapper a, .button a {
  float: left;
  color: #9fc1d3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: none;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#crosscol-wrapper a {
  padding: 0 1.6em;
}

#header-wrapper a.title {
  color: #3f647e;
  font-family: Marmelad, "Trebuchet MS", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
#header-wrapper p.description {
  color: #688fad;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
}

#footer-wrapper #footer {
  color: #688fad;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
}
#footer-wrapper #footer a {
  color: #688fad;
}
#footer-wrapper #footer a:hover {
  color: #52ccce;
}

div.button-wrapper {
  line-height: 0;
  margin-bottom: 1em;
}
.button {
  display: inline-block;
  padding: 0 8px;

  box-shadow: 0 1px 3px rgba(0,0,0,.6);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.6);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.6);
  -o-box-shadow: 0 1px 3px rgba(0,0,0,.6);

  border-radius: 5px;         /* CSS3 */
  -moz-border-radius: 5px;    /* Firefox */
  -webkit-border-radius: 5px; /* Safari, Chrome */
}

[class^="icon-"]:before, [class^="icon-"]:after {
  line-height: 0;
  color: #95d47a;
  font-family: "Octicons Regular";
  font-size: 16px;
}
[class^="icon-"]:before {
  margin-right: 6px;
}
[class^="icon-"]:after {
  margin-left: 6px;
}
[class^="icon-"]:hover:before, [class^="icon-"]:hover:after {
  color: #52ccce;
}

.icon-home:before {content: "\f08d";}
.icon-archive:before {content: "\f096";}
.icon-about:before {content: "\f059";}
.icon-feed:before {content: "\f034";}
.icon-arr-right:before {content: "\f03e";}

#flattr {
  position: absolute;
  margin-top: 2em;
  left: 2em;
}
