/* Art Deco web color scheme
   http://www.creativecolorschemes.com/resources/free-color-schemes/art-deco-color-scheme.shtml
   dark-blue: #3f647e    blue: #688fad    light-blue: #9fc1d3
   */
* {margin: 0; padding: 0;}
a {
    color: #3f647e;
    outline: none;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    font: 16px/1.4 Georgia, serif;
    color: #333;
}
#outer-wrapper {
    position: relative;
    width: 100%;
    min-width: 800px;
    min-height: 100%;
    overflow: hidden;
}

#crosscol-wrapper, #header-wrapper, #main {
    position: relative;
    clear: both;
}
#crosscol-wrapper {
    width: 100%;
    background-color: #688fad;
    padding-left: 1.5em;
}
#header-wrapper {
    width: 100%;
    background-color: #9fc1d3;
    padding: 14px 0 10px 2.5em;
}
#main {
    width: 35em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 28px;
}
#footer-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #688fad;
}

#crosscol-wrapper span {margin: 0 1em;}
#crosscol-wrapper span a {
    color: #3f647e;
    font: 14px/28px "Trebuchet MS", "Lucida Grande", Arial, sans-serif;
    text-decoration: none;
}
#crosscol-wrapper span a:hover {color: #9fc1d3;}

#header-wrapper a.title {
    color: #3f647e;
    font-family: "Trebuchet MS", "Lucida Grande", Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none !important;
}
#header-wrapper p.description {
    color: #688fad;
    font-family: "Trebuchet MS", "Lucida Grande", Arial, sans-serif;
    font-size: 14px;
    font-style: italic;
}

#footer-wrapper #footer {
    color: #3f647e;
    font: 14px/28px "Trebuchet MS", "Lucida Grande", Arial, sans-serif;
    text-align: center;
}

#flattr {
    position: absolute;
    margin-top: 2em;
    left: 2em;
}
