/* Art Deco web color scheme
 * http://www.creativecolorschemes.com/resources/free-color-schemes/art-deco-color-scheme.shtml
 * low-blue:  #3f647e    blue:       #688fad    high-blue: #9fc1d3
 * high-grey: #c9c9c9    high-green: #95d47a
 */

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Caption:700&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
@font-face {
  font-family: FontAwesome;
  src: url("/fonts/Font-Awesome/fontawesome-webfont.woff") format("woff");
}

/* Fix "page shift" problem that happens on loading pages of different lengths */
html {overflow-y: scroll;}

* {margin: 0; padding: 0;}
a {
  color: #3f647e;
  outline: none;
}
body {
  position: absolute;
  width: 100%;
  height: 100%;
  font: 16px/1.4 "PT Sans", "Lucida Grande", "Trebuchet MS", sans-serif;
  color: #222;
  background-color: #f8f8f8;
  background-image: url("/images/noise.png");
}
#outer-wrapper {
  position: relative;
  width: 100%;
  min-width: 800px;
  min-height: 100%;
  overflow: hidden;
}

#crosscol-wrapper, #header-wrapper, #main {
  position: relative;
  clear: both;
}
#crosscol-wrapper, a.button {
  height: 32px;
  background-color: #3f647e;

  box-sizing: border-box;         /* Opera/IE 8+ */
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
}
#crosscol-wrapper {
  float: left;
  width: 100%;
  padding-left: 1em;
  border-bottom: 1px solid rgba(0,0,0,.1);

  box-shadow: 0 1px 3px rgba(0,0,0,.5), inset 0 -1px 2px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.5), inset 0 -1px 2px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.5), inset 0 -1px 2px rgba(0,0,0,.1);
  -o-box-shadow: 0 1px 3px rgba(0,0,0,.5), inset 0 -1px 2px rgba(0,0,0,.1);

  z-index: 10;
}
#header-wrapper {
  width: 100%;
  background-color: #9fc1d3;
  padding: .7em 0 .8em 2.5em;
}
#main {
  width: 35em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
}
#footer-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2em;
  line-height: 2em;
  background-color: #3f647e;
}

#crosscol-wrapper a, a.button {
  display: inline-block;
  color: #95d47a;
  font-size: 15px;
  font-family: "PT Sans", "Helvetica Neue", Helvetica, sans-serif;
  text-decoration: none;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#crosscol-wrapper a {
  float: left;
  line-height: 33px;
  padding: 0 1.5em;
}

#header-wrapper a.title {
  color: #3f647e;
  font-family: "PT Sans Caption", "Lucida Grande", "Trebuchet MS", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
#header-wrapper p.description {
  color: #688fad;
  font-family: "PT Sans", "Helvetica Neue", Helvetica, sans-serif;
  cursor: default;
}

#footer-wrapper #footer {
  color: #688fad;
  font-family: "PT Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
}

#footer-wrapper #footer a {color: #688fad;}
#footer-wrapper #footer a:hover {color: #52ccce;}

a.button {
  line-height: 31px;
  padding: 0 8px;
  border: 1px solid rgba(0,0,0,.1);

  border-radius: 8px;         /* CSS3 */
  -moz-border-radius: 8px;    /* Firefox */
  -webkit-border-radius: 8px; /* Safari, Chrome */

  box-shadow: 0 1px 3px rgba(0,0,0,.7), inset 0 -1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.2);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.7), inset 0 -1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.2);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.7), inset 0 -1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.2);
  -o-box-shadow: 0 1px 3px rgba(0,0,0,.7), inset 0 -1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.2);
}

[class^="icon-"]:before, [class^="icon-"]:after {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 1px;
  color: #688fad;
  font-family: FontAwesome;
  font-size: 19px;
  text-shadow: 0 -1px rgba(0,0,0,.4);
}
[class^="icon-"]:before {margin-right: 8px;}
[class^="icon-"]:after {margin-left: 8px;}
[class^="icon-"]:hover:before, [class^="icon-"]:hover:after {
  color: #95d47a;
  text-shadow: none;
}

/* Fix the improper size of the icon-home in FA 3.0 */
.icon-home:before {
  content: "\f015";
  font-size: 20px;
  margin: 0 6px 2px 1px;
}
.icon-archive:before {content: "\f01c";}
.icon-about:before {content: "\f05a";}
.icon-rss:before {content: "\f09e";}
.icon-hand-right:before {content: "\f0a9";}

#flattr {
  position: absolute;
  margin-top: 2em;
  left: 2em;
}
