/* Art Deco web color scheme
   http://www.creativecolorschemes.com/resources/free-color-schemes/art-deco-color-scheme.shtml
   dark-blue: #3f647e    blue: #688fad    light-blue: #9fc1d3
   */
* {margin: 0; padding: 0;}
a {
    color: #3f647e;
    outline: none;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    font: 16px/1.4 Georgia, serif;
    color: #333;
}
#outer-wrapper {
    position: relative;
    width: 100%;
    min-width: 800px;
    min-height: 100%;
    overflow: hidden;
}

#crosscol-wrapper, #header-wrapper, #main {
    position: relative;
    clear: both;
}
#crosscol-wrapper {
    float: left;
    width: 100%;
    background-color: #3f647e;
}
#header-wrapper {
    width: 100%;
    background-color: #9fc1d3;
    padding: .7em 0 .8em 3em;
}
#main {
    width: 35em;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2.5em;
}
#footer-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5em;
    display: table;
    background-color: #3f647e;
}

#crosscol-wrapper ul.PageList {padding-left: 1.8em;}
#crosscol-wrapper ul.PageList li {
    display: table;
    float: left;
    height: 2.5em;
}
#crosscol-wrapper ul.PageList li a {
    display: table-cell;
    vertical-align: middle;
    padding: 0 1.5em;
    color: #9fc1d3;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    text-decoration: none;
}
#crosscol-wrapper ul.PageList li a:hover {color: #eee;}

#header-wrapper a.title {
    font-family: "Trebuchet MS", "Lucida Grande", Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
#header-wrapper p.description {
    color: #688fad;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#footer-wrapper #footer {
    display: table-cell;
    vertical-align: middle;
    color: #688fad;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    text-align: center;
}
#footer-wrapper #footer a {color: #688fad;}

#flattr {
    position: absolute;
    margin-top: 2em;
    left: 2em;
}
