$font-size: 16px;
$footer-height: 2em;

@import url(http://fonts.googleapis.com/css?family=Marmelad&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import "lib/theme";
@import "lib/navbar";
@import "lib/icons";
@import "lib/main";
@import "compass/css3/border-radius";

// Fix "page shift" problem that happens on loading pages of different lengths
html {
  overflow-y: scroll;
}

* {
  margin: 0;
  padding: 0;
}
body {
  position: absolute;
  width: 100%;
  height: 100%;
  font: #{$font-size}/1.4 Georgia, serif;
  color: #333;
}
a {
  color: $dark-blue;
  outline: none;
  &:hover {
    color: $cyan;
  }
}

#outer-wrapper {
  position: relative;
  width: 100%;
  min-width: 800px;
  min-height: 100%;
  overflow: hidden;
  background-image: url(asset_path("noise.png"));
}

#navbar {
  float: left;
  width: 100%;
  padding-left: 1.4em;
  @include navbar(rgba(0,0,0,.5));
  a {
    padding: 0 1.6em;
  }
}

#header-wrapper {
  clear: both;
  width: 100%;
  padding: .7em 0 .8em 2.8em;
  background: {
    color: $light-blue;
    image: url(asset_path("noise.png"));
  }

  a.title {
    color: $dark-blue;
    font: {
      family: Marmelad, "Trebuchet MS", sans-serif;
      size: 24px;
      weight: bold;
    }
    text: {
      transform: uppercase;
      decoration: none;
      shadow: 0 1px 1px rgba(0,0,0,.4);
    }
  }

  p.description {
    color: $blue;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
  }
}

#main {
  width: 35em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: $footer-height;
}

#footer-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  line-height: $footer-height;
  background: {
    color: $dark-blue;
    image: url(asset_path("noise.png"));
  }

  #footer {
    color: $blue;
    font: {
      family: Arial, Helvetica, sans-serif;
      size: 14px;
    }
    text-align: center;
    a {
      color: $blue;
      &:hover {
        color: $light-cyan;
      }
    }
  }
}

div.button-wrapper {
  line-height: 0;
  margin-bottom: 1em;
  .button {
    display: inline-block;
    padding: 0 8px;
    @include navbar(rgba(0,0,0,.6));
    @include border-radius(5px);
  }
}
