<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    {% if page.url == "/" %}
      <meta name="description" content="{{ site.description }}">
      <title>{{ site.title }}</title>
    {% else %}
      <title>{{ page.title }} - {{ site.title }}</title>
    {% endif %}

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/favicon.png">

    <!-- Atom feed -->
    <link href="http://feeds.feedburner.com/vonavi-blog-ru" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">

    <!-- Google+ Direct Connect -->
    <link href="{{ site.googleplus }}" rel="author">
    <link href="{{ site.googleplus }}" rel="publisher">

    <!-- Bootstrap theme -->
    {% stylesheet bootstrap-theme %}
    <!-- ColorBox -->
    {% include colorbox.html %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      {% javascript html5shiv %}
      {% javascript respond.min %}
    <![endif]-->
  </head>

  <body>

    <!-- Outer wrapper -->
    <div id="wrap">

      <div class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">
              <span class="glyphicon glyphicon-home"></span> Главная
            </a></li>
            <li><a href="/ru/archive/">
              <span class="glyphicon glyphicon-archive"></span> Архив
            </a></li>
            <li><a href="/ru/about/">
              <span class="glyphicon glyphicon-about"></span> О блоге
            </a></li>
            <li><a href="http://feeds.feedburner.com/vonavi-blog-ru">
              <span class="glyphicon glyphicon-feed"></span> Подписка
            </a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>

      <div class="page-header">
        <h2><a class="title" href="/">{{ site.title }}</a></h2>
        <span class="description">{{ site.description }}</span>
      </div>

      <div id="content-wrapper">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          {{ content }}
        </div>
      </div>

      <div id="push"></div>
    </div><!--/#wrap -->

    <!-- Footer -->
    <footer id="footer">
      <p class="text-center">
        &copy; 2012&ndash;2013 Vladimir Ivanov. Licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% javascript jquery %}
    {% javascript bootstrap.min %}
    {% javascript holder %}
  </body>
</html>
