<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    {% if page.url == "/" %}
      <meta name="description" content="{{ site.description }}">
      <title>{{ site.title }}</title>
    {% else %}
      <title>{{ page.title }} - {{ site.title }}</title>
    {% endif %}

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/favicon.png">

    <!-- Atom feed -->
    <link href="http://feeds.feedburner.com/vonavi-blog-ru" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">

    <!-- Google+ Direct Connect -->
    <link href="{{ site.googleplus }}" rel="author">
    <link href="{{ site.googleplus }}" rel="publisher">

    <!-- Default stylesheet -->
    {% stylesheet screen %}
    <!-- ColorBox -->
    {% include colorbox.html %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      {% javascript html5shiv %}
      {% javascript respond.min %}
    <![endif]-->
  </head>

  <body>
    <!-- Outer wrapper -->
    <div id="outer-wrapper">
      <!-- Navigation bar -->
      <div id="navbar">
        <a href="/" class="icon-home">Главная</a>
        <a href="/ru/archive/" class="icon-archive">Архив</a>
        <a href="/ru/about/" class="icon-about">О блоге</a>
        <a href="http://feeds.feedburner.com/vonavi-blog-ru" class="icon-feed">Подписка</a>
      </div>
      <!-- end navigation bar -->

      <!-- Header wrapper -->
      <div id="header-wrapper">
        <p><a class="title" href="/">{{ site.title }}</a></p>
        <p class="description">{{ site.description }}</p>
      </div>
      <!-- end header wrapper -->

      <!-- Main -->
      <div id="main">
        {{ content }}
      </div>
      <!-- end main -->

      <!-- Footer wrapper -->
      <div id="footer-wrapper">
        <!-- Footer -->
        <div id="footer">
          &copy; 2012&ndash;2013 Vladimir Ivanov. Licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a>
        </div> <!-- end footer -->
      </div>
      <!-- end footer wrapper -->
    </div>
    <!-- end outer wrapper -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% javascript jquery %}
    {% javascript bootstrap.min %}
    {% javascript holder %}
  </body>
</html>
