<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    {% if page.url == "/" %}
      <meta name="description" content="{{ site.description }}">
      <title>{{ site.title }}</title>
    {% else %}
      <title>{{ page.title }} - {{ site.title }}</title>
    {% endif %}

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/favicon.png">

    <!-- Atom feed -->
    <link href="http://feeds.feedburner.com/vonavi-blog-ru" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">

    <!-- Google+ Direct Connect -->
    <link href="{{ site.googleplus }}" rel="author">
    <link href="{{ site.googleplus }}" rel="publisher">

    <!-- Bootstrap theme -->
    {% stylesheet bootstrap-theme %}
    <!-- ColorBox -->
    {% include colorbox.html %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      {% javascript html5shiv %}
      {% javascript respond.min %}
    <![endif]-->
  </head>

  <body>
    <!-- Outer wrapper -->
    <div id="outer-wrapper">

      <div class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">
              <span class="glyphicon glyphicon-home"></span>
              <small>Главная</small>
            </a></li>
            <li><a href="/ru/archive/">
              <span class="glyphicon glyphicon-archive"></span>
              <small>Архив</small>
            </a></li>
            <li><a href="/ru/about/">
              <span class="glyphicon glyphicon-about"></span>
              <small>О блоге</small>
            </a></li>
            <li><a href="http://feeds.feedburner.com/vonavi-blog-ru">
              <span class="glyphicon glyphicon-feed"></span>
              <small>Подписка</small>
            </a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>

      <div class="page-header">
        <h3><a class="title" href="/">{{ site.title }}</a></h3>
        <span class="description">{{ site.description }}</span>
      </div>

      <!-- Main -->
      <div id="main">
        {{ content }}
      </div>
      <!-- end main -->

      <!-- Footer wrapper -->
      <div id="footer-wrapper">
        <!-- Footer -->
        <div id="footer">
          &copy; 2012&ndash;2013 Vladimir Ivanov. Licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a>
        </div> <!-- end footer -->
      </div>
      <!-- end footer wrapper -->
    </div>
    <!-- end outer wrapper -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% javascript jquery %}
    {% javascript bootstrap.min %}
    {% javascript holder %}
  </body>
</html>
