// Fix "page shift" problem that happens on loading pages of different lengths
html {
  overflow-y: scroll;
}


// Navbar
// -------------------------

.navbar {
  border: none;
  .box-shadow(0 1px 1px rgba(0,0,0,.4));
}
.navbar-default {
  #gradient .vertical(lighten(@dark-blue, 10%), @dark-blue);
}


// Page Header
// -------------------------

.page-header {
  .clearfix();
  margin: 0;
  padding-left: (2 * @navbar-padding-horizontal);
  border: none;
  background-color: @light-blue;

  a.title {
    color: @dark-blue;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
  }

  .description {
    color: @blue;
    cursor: default;
  }
}


// Sticky footer
// -------------------------

@footer-height: @navbar-height;

html, body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  margin-bottom: -@footer-height;
}
#push, #footer {
  height: @footer-height;
}

#footer {
  .clearfix();
  background-color: @dark-blue;
  color: @blue;

  p {
    margin: (0.35 * @line-height-computed) 0;
  }

  a {
    text-decoration: underline;
    color: @blue;
    &:hover {
      color: @light-cyan;
    }
  }
}


// Glyphicons
// -------------------------

.glyphicon {
  width: 1em;
  color: @green;
}
a:hover .glyphicon { color: @light-cyan; }

// Individual icons
.glyphicon-home { &:before { content: "\f08d"; } }
.glyphicon-archive { &:before { content: "\f096"; } }
.glyphicon-about { &:before { content: "\f059"; } }
.glyphicon-feed { &:before { content: "\f034"; } }
.glyphicon-arrow-right { &:before { content: "\f03e"; } }


// Typography
// -------------------------

a { outline: none !important; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: @dark-blue;
}
h4 a:hover { text-decoration: none; }
