// Fix "page shift" problem that happens on loading pages of different lengths
html {
  overflow-y: scroll;
}


// Navbar
// -------------------------

.navbar { .box-shadow(0 1px 2px rgba(0,0,0,.3)); }
.navbar-default {
  #gradient .vertical(lighten(@dark-blue, 10%), @dark-blue);
}
.navbar-nav a { .user-select(none); }


// Page Header
// -------------------------

.page-header {
  .clearfix();
  margin: 0;
  padding-left: (2 * @navbar-padding-horizontal);
  border: none;
  background-color: @light-blue;

  a.title {
    color: @dark-blue;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
  }

  .description {
    font-size: 16px;
    color: @blue;
    cursor: default;
  }
}


// Sticky footer
// -------------------------

html, body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  margin-bottom: -@footer-height;
}
#push, #footer {
  height: @footer-height;
}

#footer {
  clear: both;
  .clearfix();
  background-color: @dark-blue;
  color: @blue;

  p {
    margin-bottom: 0;
    padding: @padding-base-vertical 0;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  a {
    text-decoration: underline;
    color: @blue;
    &:hover {
      color: @light-cyan;
    }
  }
}


// Glyphicons
// -------------------------

.glyphicon {
  font-size: 16px;
  width: 1em;
  color: @green;
}
a:hover .glyphicon { color: @light-cyan; }

// Individual icons
.glyphicon-home { &:before { content: "\f08d"; } }
.glyphicon-archive { &:before { content: "\f096"; } }
.glyphicon-about { &:before { content: "\f059"; } }
.glyphicon-feed { &:before { content: "\f034"; } }
.glyphicon-arrow-right { &:before { content: "\f03e"; } }
.glyphicon-arrow-up { &:before { content: "\f03d"; } }


// Typography
// -------------------------

a { outline: none !important; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: @dark-blue;
}
h2 a {
  color: @dark-blue;
  text-decoration: none !important;
  &:hover { color: @cyan; }
}

#content-wrapper { font-family: @content-font-family; }
blockquote p {
  font: italic @font-size-base~"/"@line-height-base @content-font-family;
}


// Code
// ------------------------

pre, code {
  font-size: (@font-size-base + 1);
  line-height: (@line-height-computed - 1);
}
pre {
  white-space: pre;
  overflow: auto;
}
pre::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
pre::-webkit-scrollbar-track-piece {
  margin-bottom: 10px;
  background-color: #e5e5e5;
  -webkit-border-radius: 4px;
}
pre::-webkit-scrollbar-thumb:vertical {
  height: 25px;
  background-color: #ccc;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: white 0 1px 1px;
}
pre::-webkit-scrollbar-thumb:horizontal {
  width: 25px;
  background-color: #ccc;
  -webkit-border-radius: 4px;
}


// Buttons
// -------------------------

.btn {
  font-family: @font-family-sans-serif;
  text-decoration: none !important;
  .box-shadow(0 1px 2px rgba(0,0,0,.4));
}
.btn-primary {
  #gradient .vertical(lighten(@dark-blue, 10%), @dark-blue);
}


// Solarized color scheme
// -------------------------

.solarized();
.highlight {
  .na, .c, .cm, .c1, .go { color: @base1_sol; }
}


// Miscellaneous
// -------------------------

a[href$=".png"], a[href$=".gif"], a[href$=".jpg"], a[href$=".jpeg"] {
  cursor: pointer;
  cursor: zoom-in;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
}
