//
// Variables
// --------------------------------------------------


// Typography
// -------------------------

@font-family-base:        "PT Serif", @font-family-serif;
@font-size-base:          16px;
@font-size-small:         14px;
@headings-font-weight:    700;


// Grid system
// --------------------------------------------------

// Point at which the navbar stops collapsing
@grid-float-breakpoint:     @screen-phone;


// Navbar
// -------------------------

// Basics of a navbar
@navbar-height:                    (@line-height-computed + 2 * @padding-base-vertical);
@navbar-margin-bottom:             0;
@navbar-default-bg:                @dark-blue;
@navbar-border-radius:             0;

// Navbar links
@navbar-default-link-color:                @light-blue;
@navbar-default-link-hover-color:          @navbar-default-link-color;

// Navbar toggle
@navbar-default-toggle-hover-bg:           @dark-blue;
@navbar-default-toggle-icon-bar-bg:        @green;
@navbar-default-toggle-border-color:       @light-blue;


// Buttons
// -------------------------

@btn-primary-color:              @light-blue;
@btn-primary-bg:                 @dark-blue;


// Sticky footer
// -------------------------

@footer-height: @navbar-height;
